---
layout: default
title: Past Events
permalink: /past-events/
description: Recap of all past FOCUS events, including photos, speakers, and event details.
---

<link rel="stylesheet" href="{{ site.baseurl }}/styles/global.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/styles/past-events.css" />

<section class="past-events-section section-padding">
  <div class="container">
    <h1 class="section-title text-center mb-5">Past Events</h1>
    <div class="row justify-content-center">
      {% assign speakers07 = "Katherine Maina: Biomedical Imaging Manager at
      Massachusetts General Hospital.,Francisco Javier Quintana: Professor of
      Neurology at Harvard Medical School" | split: "," %} {% include
      event-card.html number="7" title="Neuropath: Careers and Brain Science"
      date="February 8th" time="12:30pm - 2:30pm" location="Westwood Public
      Library" gallery_link="#" speakers=speakers07 %} {% assign speakers06 =
      "Rebecca Adams: Child Growth and Development Educator,MaryBeth Kinkead:
      Principal of Natick Public School Integrated Preschool" | split: "," %} {%
      include event-card.html number="6" title="Small Hands Big Plans"
      date="February 1st" time="1:00pm - 3:00pm" location="Natick Morse
      Institute Library" gallery_link="#" speakers=speakers06 %} {% assign
      speakers05 = "Caroline Lee: Cybersecurity Engineer,Lucas: Student,Nathan
      Morgan: Molecule Design Researcher,Lisa Bard Levine: CEO of the Maven
      Project" | split: "," %} {% include event-card.html number="5"
      title="Engineer Your Future" date="January 4th" time="2:00pm - 3:30pm"
      location="Brookline Village Public Library" gallery_link="#"
      speakers=speakers05 %} {% assign speakers04 = "Speaker Name: Title" |
      split: "," %} {% include event-card.html number="4" title="Future
      Founders" date="December 8th" time="2:00pm - 3:30pm" location="Brookline
      Village Public Library" gallery_link="#" speakers=speakers04 %} {% assign
      speakers03 = "Glora Tan: State Court Juvenile Judge,Kay Khan:
      Massachusetts Representative,Jinyun Chen: Biomedical Researcher" | split:
      "," %} {% include event-card.html number="3" title="Justice For All"
      date="December 1st" time="2:00pm - 3:30pm" location="Newton Free Library"
      gallery_link="#" speakers=speakers03 %} {% assign speakers02 = "Dr. Hong
      Truong: Addictive Medicine Specialist" | split: "," %} {% include
      event-card.html number="2" title="Fall Into Medicine" date="November 3rd"
      time="1:00pm - 2:30pm" location="WPS Campus" gallery_link="#"
      speakers=speakers02 %} {% assign speakers01 = "Dr. Daniel Sun: Orthopedic
      Surgeon,Becky Harris: PT Epidemiologist,Amy Quach: Clinical Pharmacist
      Manager,Kerry Demers: Hand/Occupational Therapist" | split: "," %} {%
      include event-card.html number="1" title="Medical Month" date="October
      13th, 2024" time="1:30pm - 4:30pm" location="Newton Free Library"
      gallery_link="#" speakers=speakers01 %}
    </div>
  </div>
</section>
